{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script defer src="{% static 'js/script.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <p class="p">Esse perfil é do {{nome}}</p>
    {% if nome == "cachorro" %}

        <p>sim, esses são cachorros</p>
    {% elif nome == "cachorro" %}

        <p>essa página é de vira-latas</p>
    {% else %}

        <p>essa página não é do marcos</p>
    {% endif %}

        <h1>Nossos dogs</h1>
        
        <ul>
    {% for dog in cachorros %}
        <li> {{dog}} </li>
    {% endfor}
        </ul>


    <h1>Esse é o projeto Django Thundercats</h1>
    <h3>Estamos na aplicação Lion do projeto Thundercats</h3>
</body>
</html>